bundles/ws/src/main/wsdl/adminWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="admin" targetNamespace="http://www.st.com/admin" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.st.com/admin" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.st.com/admin" xmlns:tns="http://www.st.com/admin" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="webMethodUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="errCode" type="xs:string"/>
      <xs:element minOccurs="0" name="errDescr" type="xs:string"/>
      <xs:element minOccurs="0" name="jvCode" type="xs:string"/>
      <xs:element minOccurs="0" name="samAccName" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="basicData" type="tns:userBasicData"/>
      <xs:element minOccurs="0" name="extendedData" type="tns:userExtendedData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userBasicData">
    <xs:sequence>
      <xs:element minOccurs="0" name="accStatusCodeCRM" type="xs:string"/>
      <xs:element minOccurs="0" name="accountExpires" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="accountValStatusDescr" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="authorizedApplications" nillable="true" type="xs:string"/>
      <xs:element name="badPasswordCount" type="xs:int"/>
      <xs:element minOccurs="0" name="badPasswordDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="classification" type="xs:string"/>
      <xs:element minOccurs="0" name="classificationCode" type="xs:string"/>
      <xs:element minOccurs="0" name="company" type="xs:string"/>
      <xs:element minOccurs="0" name="companyCode" type="xs:string"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
      <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="departmentDescr" type="xs:string"/>
      <xs:element minOccurs="0" name="displayName" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="functionCode" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="groups" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="homePageUrl" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="impersonableCompany" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="impersonatedUserSamAccount" type="xs:string"/>
      <xs:element minOccurs="0" name="industrySegmentName" type="xs:string"/>
      <xs:element minOccurs="0" name="industrySegmentType" type="xs:string"/>
      <xs:element minOccurs="0" name="lastChangedDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="lastLogoff" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="lastLogon" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="lastLogonTimestamp" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="lockDeactivateReason" type="xs:string"/>
      <xs:element minOccurs="0" name="lockedBy" type="xs:string"/>
      <xs:element minOccurs="0" name="lockedOn" type="xs:string"/>
      <xs:element name="logonCount" type="xs:int"/>
      <xs:element minOccurs="0" name="mail" type="xs:string"/>
      <xs:element minOccurs="0" name="mustUpdateProfile" type="xs:boolean"/>
      <xs:element name="ndaEnable" type="xs:boolean"/>
      <xs:element minOccurs="0" name="notifyByMailEnabled" type="xs:boolean"/>
      <xs:element minOccurs="0" name="oldLogin" type="xs:string"/>
      <xs:element minOccurs="0" name="parentCompOrg" type="xs:string"/>
      <xs:element minOccurs="0" name="parentCompOrgCode" type="xs:string"/>
      <xs:element minOccurs="0" name="passwordLastSet" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="personalTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="personalTitleCode" type="xs:string"/>
      <xs:element minOccurs="0" name="portalAccessCode" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="portals" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="productFaviourites" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="productNewsLetters" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="productNotifications" nillable="true" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="salesCoverageList" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="sapSRMUserName" type="xs:string"/>
      <xs:element minOccurs="0" name="stCurrentLogon" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="stPreviousLogon" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="st_xd_userId" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="territory" type="xs:string"/>
      <xs:element minOccurs="0" name="territory_id" type="xs:string"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element minOccurs="0" name="tpaSigned" type="xs:string"/>
      <xs:element minOccurs="0" name="tpaSignedDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="userId" type="xs:string"/>
      <xs:element minOccurs="0" name="valStatusCodeCRM" type="xs:string"/>
      <xs:element minOccurs="0" name="validatedBy" type="xs:string"/>
      <xs:element minOccurs="0" name="validatedOn" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="visibleApplications" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="xduserid" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userExtendedData">
    <xs:sequence>
      <xs:element minOccurs="0" name="companyGroup" type="xs:string"/>
      <xs:element minOccurs="0" name="companyWebSite" type="xs:string"/>
      <xs:element minOccurs="0" name="employerName" type="xs:string"/>
      <xs:element minOccurs="0" name="fseEmail" type="xs:string"/>
      <xs:element minOccurs="0" name="fseName" type="xs:string"/>
      <xs:element minOccurs="0" name="jobDepartment" type="xs:string"/>
      <xs:element minOccurs="0" name="kaEmail" type="xs:string"/>
      <xs:element minOccurs="0" name="kaName" type="xs:string"/>
      <xs:element minOccurs="0" name="lockedBy" type="xs:string"/>
      <xs:element minOccurs="0" name="lockedReason" type="xs:string"/>
      <xs:element minOccurs="0" name="mailingAddress" type="tns:userAddress"/>
      <xs:element name="psuUser" type="xs:boolean"/>
      <xs:element minOccurs="0" name="regionCode" type="xs:string"/>
      <xs:element minOccurs="0" name="regionDescr" type="xs:string"/>
      <xs:element minOccurs="0" name="shippingAddress" type="tns:userAddress"/>
      <xs:element minOccurs="0" name="validatedBy" type="xs:string"/>
      <xs:element minOccurs="0" name="validationDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userAddress">
    <xs:sequence>
      <xs:element minOccurs="0" name="cityCode" type="xs:string"/>
      <xs:element minOccurs="0" name="cityName" type="xs:string"/>
      <xs:element minOccurs="0" name="cnpjNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
      <xs:element minOccurs="0" name="countryName" type="xs:string"/>
      <xs:element minOccurs="0" name="fax" type="xs:string"/>
      <xs:element minOccurs="0" name="phone" type="xs:string"/>
      <xs:element minOccurs="0" name="stateCode" type="xs:string"/>
      <xs:element minOccurs="0" name="stateName" type="xs:string"/>
      <xs:element minOccurs="0" name="street1" type="xs:string"/>
      <xs:element minOccurs="0" name="street2" type="xs:string"/>
      <xs:element minOccurs="0" name="zip" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType final="#all" name="webMethodUserArray">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:webMethodUser"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType final="#all" name="userInfoArray">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:userInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IPWSException" type="tns:IPWSException"/>
  <xs:complexType name="IPWSException">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="updateStatusResponse">
    <wsdl:part name="return" type="xsd:boolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListOfUserProfilesResponse">
    <wsdl:part name="return" type="tns:userInfoArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadUserList">
    <wsdl:part name="rownum" type="xsd:int">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserProfileByIdResponse">
    <wsdl:part name="return" type="tns:userInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateStatus">
    <wsdl:part name="userArray" type="tns:webMethodUserArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFullUserProfileResponse">
    <wsdl:part name="return" type="tns:userInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFullUserProfileByIdResponse">
    <wsdl:part name="return" type="tns:userInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserProfileResponse">
    <wsdl:part name="return" type="tns:userInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadUserListResponse">
    <wsdl:part name="return" type="tns:webMethodUserArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListOfUserProfiles">
    <wsdl:part name="userArray" type="tns:webMethodUserArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFullUserProfileById">
    <wsdl:part name="userId" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="IPWSException">
    <wsdl:part element="tns:IPWSException" name="IPWSException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFullUserProfile">
    <wsdl:part name="parentCompOrgCode" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="email" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserProfile">
    <wsdl:part name="parentCompOrgCode" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="email" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserProfileById">
    <wsdl:part name="userId" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AdminPassportWebServiceHandler">
    <wsdl:operation name="loadUserList">
      <wsdl:input message="tns:loadUserList" name="loadUserList">
    </wsdl:input>
      <wsdl:output message="tns:loadUserListResponse" name="loadUserListResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IPWSException" name="IPWSException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFullUserProfileById">
      <wsdl:input message="tns:getFullUserProfileById" name="getFullUserProfileById">
    </wsdl:input>
      <wsdl:output message="tns:getFullUserProfileByIdResponse" name="getFullUserProfileByIdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IPWSException" name="IPWSException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateStatus">
      <wsdl:input message="tns:updateStatus" name="updateStatus">
    </wsdl:input>
      <wsdl:output message="tns:updateStatusResponse" name="updateStatusResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IPWSException" name="IPWSException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserProfile">
      <wsdl:input message="tns:getUserProfile" name="getUserProfile">
    </wsdl:input>
      <wsdl:output message="tns:getUserProfileResponse" name="getUserProfileResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IPWSException" name="IPWSException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserProfileById">
      <wsdl:input message="tns:getUserProfileById" name="getUserProfileById">
    </wsdl:input>
      <wsdl:output message="tns:getUserProfileByIdResponse" name="getUserProfileByIdResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IPWSException" name="IPWSException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getListOfUserProfiles">
      <wsdl:input message="tns:getListOfUserProfiles" name="getListOfUserProfiles">
    </wsdl:input>
      <wsdl:output message="tns:getListOfUserProfilesResponse" name="getListOfUserProfilesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IPWSException" name="IPWSException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFullUserProfile">
      <wsdl:input message="tns:getFullUserProfile" name="getFullUserProfile">
    </wsdl:input>
      <wsdl:output message="tns:getFullUserProfileResponse" name="getFullUserProfileResponse">
    </wsdl:output>
      <wsdl:fault message="tns:IPWSException" name="IPWSException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="adminSoapBinding" type="tns:AdminPassportWebServiceHandler">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="loadUserList">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="loadUserList">
        <soap:body namespace="http://www.st.com/admin" use="literal"/>
      </wsdl:input>
      <wsdl:output name="loadUserListResponse">
        <soap:body namespace="http://www.st.com/admin" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IPWSException">
        <soap:fault name="IPWSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFullUserProfileById">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getFullUserProfileById">
        <soap:body namespace="http://www.st.com/admin" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFullUserProfileByIdResponse">
        <soap:body namespace="http://www.st.com/admin" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IPWSException">
        <soap:fault name="IPWSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateStatus">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="updateStatus">
        <soap:body namespace="http://www.st.com/admin" use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateStatusResponse">
        <soap:body namespace="http://www.st.com/admin" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IPWSException">
        <soap:fault name="IPWSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserProfile">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getUserProfile">
        <soap:body namespace="http://www.st.com/admin" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserProfileResponse">
        <soap:body namespace="http://www.st.com/admin" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IPWSException">
        <soap:fault name="IPWSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUserProfileById">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getUserProfileById">
        <soap:body namespace="http://www.st.com/admin" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserProfileByIdResponse">
        <soap:body namespace="http://www.st.com/admin" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IPWSException">
        <soap:fault name="IPWSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getListOfUserProfiles">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getListOfUserProfiles">
        <soap:body namespace="http://www.st.com/admin" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getListOfUserProfilesResponse">
        <soap:body namespace="http://www.st.com/admin" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IPWSException">
        <soap:fault name="IPWSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getFullUserProfile">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getFullUserProfile">
        <soap:body namespace="http://www.st.com/admin" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFullUserProfileResponse">
        <soap:body namespace="http://www.st.com/admin" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="IPWSException">
        <soap:fault name="IPWSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="admin">
    <wsdl:port binding="tns:adminSoapBinding" name="AdminPassportWebServiceHandlerPort">
      <soap:address location="http://eul251.sgp.st.com:10080/ip/adminws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>